@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Work Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    background: #fff;
    padding: 30px; /* Aumentei o padding para um visual mais espaçoso */
    border-radius: 12px; /* Bordas mais arredondadas para um toque futurista */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra mais suave e expandida */
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    transition: box-shadow 0.3s ease; /* Transição suave para a sombra */
}

.container:hover {
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2); /* Sombra mais forte ao passar o mouse */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.75rem; /* Aumentei o tamanho do título */
    color: rgb(122, 0, 230); /* Mudança de cor para um toque mais futurista */
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
}

input {
    width: 95%;
    padding: 12px; /* Aumentei o padding para conforto */
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 6px; /* Bordas mais suaves */
    font-size: 1rem;
    transition: border-color 0.3s; /* Transição suave para mudança de borda */
}

input:focus {
    border-color: rgb(122, 0, 230); /* Cor da borda ao focar */
    outline: none; /* Remove o contorno padrão */
}

button {
    background-color: rgb(122, 0, 230);
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px; /* Bordas mais suaves */
    cursor: pointer;
    width: 100%;
    font-weight: 700;
    font-size: 1rem;
    transition: background 0.3s; /* Transição suave para mudança de fundo */
}

button:hover {
    background-color: rgb(131, 1, 245);
}

.container a {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #7a00e6;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    transition: color 0.3s; /* Transição suave para a cor */
}

.container a:hover {
    text-decoration: underline;
    color: rgb(131, 1, 245); /* Mudança de cor ao passar o mouse */
}

/* Responsividade para telas menores */
@media (max-width: 480px) {
    h2 {
        font-size: 1.5rem; /* Ajustei para manter a legibilidade */
    }

    label {
        font-size: 0.875rem;
    }

    input {
        font-size: 0.875rem;
    }

    button {
        font-size: 0.875rem;
        padding: 10px;
    }

    .container a {
        font-size: 0.875rem;
    }
}
