@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap');

body {
    font-family: "Work Sans", sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    transition: background-color 0.3s ease; /* Suaviza a transição do fundo */
}

.login-container {
    background-color: #fff;
    padding: 30px; /* Aumentado para um toque mais espaçoso */
    border-radius: 12px; /* Borda mais arredondada */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-sizing: border-box;
    transition: transform 0.3s ease; /* Animação de transformação */
}

.login-container:hover {
    transform: scale(1.02); /* Leve aumento ao passar o mouse */
}

.login-container img {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
    height: auto;
    height: 120px;
}

.login-container input {
    width: 100%;
    padding: 14px; /* Mais espaçamento */
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px; /* Bordas arredondadas */
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s ease; /* Suaviza a transição de bordas */
}

.login-container input:focus {
    border-color: #7a00e6; /* Destaque na borda ao focar */
    outline: none; /* Remove o contorno padrão */
}

.password-hint {
    margin-top: -10px;
    font-size: 12px;
    color: #555;
    text-align: left;
}

.login-container button {
    width: 100%;
    padding: 14px;
    background-color: #7a00e6;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Suaviza transições */
    margin-top: 20px;
    font-weight: 700;
}

.login-container button:hover {
    background-color: #8301f5;
    transform: translateY(-2px); /* Efeito de elevação ao passar o mouse */
}

.login-options {
    margin-top: 15px;
    text-align: left;
}

.login-options a {
    color: #7a00e6;
    text-decoration: none;
    transition: text-decoration 0.3s ease;
    font-size: 14px;
    font-weight: 700;
}

.login-options a:hover {
    text-decoration: underline;
}

.signup-prompt {
    font-size: 14px;
    color: #333;
    margin-top: 15px;
    text-align: center;
}

.signup-prompt a {
    color: #7a00e6;
    text-decoration: none;
    font-weight: 700;
}

.signup-prompt a:hover {
    text-decoration: underline;
}

p {
    font-weight: 700;
}

/* CSS para o botão posicionado no canto inferior direito */
.button-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.action-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #7a00e6;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.action-button:hover {
    background-color: #8301f5;
    transform: translateY(-2px); /* Efeito de elevação */
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
    .login-container {
        padding: 20px; /* Ajuste do padding */
    }

    .login-container button {
        font-size: 14px;
        padding: 12px; /* Ajuste do padding */
    }

    .action-button {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .login-container {
        padding: 15px; /* Ajuste do padding */
    }

    .login-container button {
        font-size: 14px;
        padding: 10px; /* Ajuste do padding */
    }

    .action-button {
        font-size: 14px;
        padding: 8px 16px;
    }

    .login-options a, .signup-prompt a {
        font-size: 14px;
    }

    p {
        font-size: 14px;
    }
}
