<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanofi - Confirmação de Envio</title>
    <link rel="stylesheet" href="../static/css/confirmed_presence.css">
    <link rel="icon" href="../static/images/icon.jpg" type="image/jpeg">
</head>
<body>
    <div class="confirmation-container">
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/7d/Logo_Sanofi_%282022%29.png" alt="Sanofi">
        <h2>Arquivo Enviado com Sucesso!</h2>
        <p>Seu arquivo foi enviado com sucesso. Agradecemos por utilizar nosso sistema.</p>
        <div class="confirmation-options">
            <a href="./index.html">Voltar para a página inicial</a>
        </div>
    </div>
</body>
</html>
