<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanofi - Login</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/images/icon.jpg" type="image/jpeg">
    <script src="../static/js/script.js" defer></script>
</head>
<body>
    <div class="login-container">
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/7d/Logo_Sanofi_%282022%29.png" alt="Sanofi">
        <form id="loginForm">
            <input type="text" id="email" placeholder="E-mail" required>
            <input type="password" id="password" placeholder="Senha" required>
            <div class="login-options">
                <a href="./forgot_password.html">Esqueci a senha</a>
            </div>
            <button type="submit">Entrar</button>
        </form>
        <div class="login-options">
            <p class="signup-prompt">Ainda não possui conta? <a href="./register.html">Faça seu cadastro.</a></p>
        </div>
    </div>
    <div class="button-container">
        <a href="./check.html" class="action-button">Confirmar presença online!</a>
    </div>
</body>
</html>
